<nav>
  <div>
    <img src="../assets/images/logo.png" alt="logotipo UOC">
    <div>
      <a href="./members.html">Miembros del equipo</a> 
      <a href="./blog.html">Blog</a>
      <a href="./events.html">Eventos</a>
    </div>
  </div>
  <hr>
</nav>
<!-- --------------------------- Body ------------------------------------- -->
<div>
  <h2>Eventos</h2>

  <div>
    <div>
      <img src="../assets/images/gonzalo-facello-tQs6P_epXmo-unsplash.jpg" alt="Pies en pista de tenis">
      <h6>Wimbledon</h6>
      <p>El 5 de Octubre 2023</p>
    </div>
    <div>
      <img src="../assets/images/kirill-zharkiy-ItKtQ-OaIzQ-unsplash.jpg" alt="Saque de tenis en pista">
      <h6>Abierto de Estados Unidos</h6>
      <p>El 14 de Enero 2024</p>
    </div>
    <div>
      <img src="../assets/images/renith-r-MLU_X1d3ofQ-unsplash.jpg" alt="Pies en pista de tenis">
      <h6>Copa Davis</h6>
      <p>El 29 de Mayo 2024</p>
    </div>
  </div>
</div>