<footer class="uoc-footer">
    <p>Hecho por Irene Carrión Retamero</p>
    <hr>
    <div>
        <img src="#" alt="logotipo UOC">
        <div>
            <a href="#">Miembros del equipo</a>
            <a href="#">Blog</a>
            <a href="#">Eventos</a>
        </div>
        <div>
            <a href="#"><i class="fa-brands fa-google-plus-g"></i></a>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
    </div>
</footer>