<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="../assets/styles/main.scss"><!-- do not remove this line! -->
    <title>UOC Boilerplate</title>
  </head>
  <!-- Navbar -->
  <nav class="mb-0 py-3 bg-secondary">
    <div class=" mx-4 d-flex flew-row justify-content-between align-items-center">
      <a class="logo" href="../index.html"><img src="../assets/images/logo-tennis.png?width=80" alt="logotipo UOC"></a>
      <div>
        <a class="mx-2 link-light link-offset-3-hover" href="./members.html">Miembros del equipo</a> 
        <a class="mx-2 link-light link-offset-3-hover" href="./blog.html">Blog</a>
        <a class="mx-2 link-light link-offset-3-hover" href="./events.html">Eventos</a>
      </div>
    </div>
  </nav>
  <!-- Fin Navbar -->
  <body>
    <div>
      <h2 class="title text-primary">Miembros del equipo</h2>

      <div>
        <div>
          <div class="container">
          <img src='../assets/images/elijah-hiett-umfpFoKxIVg-unsplash.jpg' class="img-fluid" alt="Chico joven">
          </div>
          <h6>Martín</h6>
          <p>Cuando no juega al tenis se dedica a componer música.</p>
        </div>
        <div>
          <div class="container">
            <img src="../assets/images/erik-lucatero-d2MSDujJl2g-unsplash.jpg" class="img-fluid" alt="Chico joven">
          </div>
          <h6>Jordi</h6>
          <p>Cuando no juega al tenis se dedica a hacer ganchillo.</p>
        </div>
        <div>
          <div class="container">
            <img src="../assets/images/tamara-bellis-eDVQwVMLMgU-unsplash.jpg" class="img-fluid" alt="Chica joven">
          </div>
          <h6>Maria</h6>
          <p>Cuando no juega al tenis se dedica a tirar al arco.</p>
        </div>
        <div>
          <div class="container">
            <img src="../assets/images/alexandru-zdrobau-BGz8vO3pK8k-unsplash.jpg" class="img-fluid" alt="Chica joven">
          </div>
          <h6>Sara</h6>
          <p>Cuando no juega al tenis se dedica a cocinar.</p>
        </div>
        <div>
          <div class="container">
            <img src="../assets/images/ian-dooley-d1UPkiFd04A-unsplash.jpg" class="img-fluid" alt="Chico joven">
          </div>
          <h6>Josu</h6>
          <p>Cuando no juega al tenis se dedica a jugar a videojuegos.</p>
        </div>
        <div>
          <div class="container">
            <img src="../assets/images/nathan-dumlao-ger61_TX6oI-unsplash.jpg" class="img-fluid" alt="Chico joven">
          </div>
          <h6>Tomás</h6>
          <p>Cuando no juega al tenis se dedica a escribir novelas.</p>
        </div>
      </div>
    </div>
     <!-- Footer -->
      <footer class="mx-4">
        <p class="text-center">Hecho por Irene Carrión Retamero</p>
        <hr class="border-secondary">
        <div class="d-flex flew-row justify-content-between align-items-center">
            <a class="logo" href="../index.html"><img src="../assets/images/logo-tennis.png?width=50" alt="logotipo UOC"></a>
            <div>
                <a class="mx-2 link-secondary link-offset-3-hover" href="./members.html">Miembros del equipo</a> 
                <a class="mx-2 link-secondary link-offset-3-hover" href="./blog.html">Blog</a>
                <a class="mx-2 link-secondary link-offset-3-hover" href="./events.html">Eventos</a>
            </div>
            <div class="footer-icon">
                <a class="mx-1 icon-link link-underline-opacity-0" href="#"><i class="fa-brands fa-google-plus-g"></i></a>
                <a class="mx-1 icon-link link-underline-opacity-0" href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a class="mx-1 icon-link link-underline-opacity-0" href="#"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
      </footer>
     <!-- Fin Footer -->
     <script type="module" src="../assets/scripts/main.js"></script><!-- do not remove this line! -->
   </body>
 </html>