<nav class="mb-0 py-3 bg-secondary">
  <div class=" mx-4 d-flex flew-row justify-content-between align-items-center">
    <a class="logo" href="./index.html"><img src="./assets/images/logo-tennis.png?width=80" alt="logotipo UOC"></a>
    <div>
      <a class="mx-2 link-light link-offset-3-hover" href="./views/members.html">Miembros del equipo</a> 
      <a class="mx-2 link-light link-offset-3-hover" href="./views/blog.html">Blog</a>
      <a class="mx-2 link-light link-offset-3-hover" href="./views/events.html">Eventos</a>
    </div>
  </div>
</nav>